In [ ]:
#Basic 

python programming basic Fine
Data types
String indexing and slicing
Data structure
List tuple set dictionary methods
Conditional stmts if elif else
Loops for while for else while else continue pass break
Functions inbuilt funtions User functions other

#Mid level

Anonymous function list comprehension
Exception handline
Modules/Libraries inbuilt modules/User def
Collecions 
data time 
os and sys
re regular expression
File handline


#Advanced 

Oops
class and object
Inheritance
overriding
abstract class
super class
encapsulation
Multi threading
data base 
network connectivity django basics

In [ ]:
#Data types:

#int
#float
#bool ==> True False
#str  ===> Anything within " " and ' '

#complex

In [2]:
#print ==> inbuilt function

#https://docs.python.org/3/library/functions.html

#function call
#function def


print("hellow")
#print_hello("hh")

#Defined already

#function call

hellow

NameError: name 'print_hello' is not defined

In [3]:
def func(val1,val2):
    return "the out put is" + val1 + val2

print(func("hi", "world"))

the out put ishiworld

In [5]:
#type 

print(type("a"))
print(type(2))

<class 'str'>
<class 'int'>

In [6]:
#len

a = "hello iubngkbkbn kgjn "
print(len(a))

22

In [13]:
#format

a = 30
b = 20

c = (a + b) * (a - b)

print(c)

print("THe calculated output for c is", c)
print("THe calculated output with {} and {} for c is{}".format(a,b,c))

print("THe calculated output with {1} and {0} for c is{2}".format(a,b,c))

500
THe calculated output for c is 500
THe calculated output with 30 and 20 for c is500
THe calculated output with 20 and 30 for c is500

In [ ]:
#input

In [ ]:
#multi line comment / single line comment

In [ ]:
#print multi line / sep / end

In [ ]:
#strings & Indexing

In [ ]:
#string methods

In [ ]:
#chr / ord

In [ ]:
#heterogenous data struc

#List

[]
#Ordering or Indexing 
#mutable
#Supports concatenation
#supports duplicate


#tuple:

()
#Ordering or Indexing 
#immutable ==> memory management 
#Supports concatenation
#supports duplicate



#set

{}
#No indexing or ordering in dictionary
#mutable
#Not #Supports concatenation (update)
#Not #supports duplicate
#Supports mathematical set operations 




#Dictionary

{key:value}

keys are unique in python

#possible keys :
#int
#Float
#String
#Boolean ==> it will convert in to int 1 and 0

#No indexing or ordering in dictionary
#mutable
##Not Supports concatenation (update)

In [14]:
Li1 = [1,2,3,4,5]

print(type(Li1))

<class 'list'>

In [15]:
val1 = {1,2,3,4}
print(type(val1))

<class 'set'>

In [16]:
val1 = {1:"python",2:10,3:"gggg",4:"hellow"}
print(type(val1))

<class 'dict'>

In [20]:
val1 = {1:"python","he":10,5.0:"gggg",4:"hellow", True:"val"}

print(type(val1))
print(val1)

<class 'dict'>
{1: 'val', 'he': 10, 5.0: 'gggg', 4: 'hellow'}

In [21]:
print(int(True))

1

In [22]:
val1 = {1:"python","he":10,5.0:"gggg",4:"hellow", True:"val", "he":"dictionary check"}

print(type(val1))
print(val1)

<class 'dict'>
{1: 'val', 'he': 'dictionary check', 5.0: 'gggg', 4: 'hellow'}

In [24]:
val1 = {1:"python","he":10,5.0:"gggg",4:"hellow", True:"val", "he":"dictionary check",6: [1,2,3,4,5]}

print(type(val1))
print(val1)

#int
#Float
#String
#Boolean ==> it will convert in to int 1 and 0

TypeError: unhashable type: 'list'

In [ ]:
dict1 = {"name": "hhh", "age:":10}

In [27]:
#List

#[]
#heterogenous data structure
#indexing or ordering



Li1 = [2,3,4,"google", "hello", 10.00]

print(Li1[-1])

print(Li1[0])

print(type(Li1))

10.0
2
<class 'list'>

In [31]:
val1 = {1:"python","he":10,5.0:"gggg",4:"hellow", True:"val"}

print(val1[6.0])

KeyError: 6.0

In [32]:
tup = (10,11,12)
print(tup[-1])

12

In [33]:
tup = {10,11,12}
print(tup[-1])

TypeError: 'set' object is not subscriptable

In [36]:
Li1 = [1,2,0,3]
Li1[2] = 100

Li1.append(10)
print(Li1)

[1, 2, 100, 3, 10]

In [35]:
Li1 = (1,2,0,3)
Li1[2] = 100
print(Li1)

TypeError: 'tuple' object does not support item assignment

In [37]:
print([1,2,3]+[3,4,5])
print((1,2,3)+(3,4,5))
print({1,2,3}+{3,4,5})

[1, 2, 3, 3, 4, 5]
(1, 2, 3, 3, 4, 5)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [38]:
print([1, 2, 3, 3, 4, 5])
print((1, 2, 3, 3, 4, 5))
print({1, 2, 3, 3, 4, 5})

[1, 2, 3, 3, 4, 5]
(1, 2, 3, 3, 4, 5)
{1, 2, 3, 4, 5}

In [ ]:
#function

#methods  ===> function inside a specific class (limitations)

In [40]:
print(len([1, 2, 3, 3, 4, 5]))
print(len((1, 2, 3, 3, 4, 5)))

6
6

In [1]:
Li1 = [1,2,3,4]
Li1[2] = 100
print(Li1)

[1, 2, 100, 4]

In [ ]:
Li1 = [1,2,3,4]
Li1[2] = 100
print(Li1)

In [5]:
a = "python"

b = "".join(reversed(a))

print(b)

n o h t y p

## Conditional statements

In [ ]:
#keywords: if elif else

#Indentation
#Boolean data type
#Assignment operator
#comparison operator
#logical operator
#if elif else conditions
#membership operator
#Nested if

In [ ]:
if (condition){
    <code>
    <code>
}

In [ ]:
if condition:
    code
    code
    code
main code
main code

In [ ]:
#Boolean data type

True
False

In [7]:
if 10:
    print("success")

success

In [8]:
print(bool(10))

True

In [9]:
a = 10

print(a)

10

In [10]:
print(10 == 10)
<
<=
>
>=
==
!=

True

In [11]:
a =10

print(a > 5 and a > 8)

#and or not

True

In [13]:
a = 17

if a >= 18:
    print("inside if cond")
    print("you are eligible for voting")
print("Outside if condition")

Outside if condition

In [15]:
#if
#if elif elif elif elif
#if else
#if elif elif elif else



mark = 90

if mark > 50:
    print("if cond")
elif mark > 60:
    print("elif 1")
elif mark > 70:
    print("elif 2")
else:
    print("NOTA")
print("outside")

if cond
outside

In [17]:
#in 

mark = [50,60,70,80]
exp = 70

if exp not in mark:
    print("its there")
else:
    print("its not there")

its not there

In [20]:
mark = -120

if mark > 0 and mark < 100:
    print("It's valid mark")
    if mark > 50:
        print("if cond")
    elif mark > 60:
        print("elif 1")
    elif mark > 70:
        print("elif 2")
    else:
        print("NOTA")
else:
    print("invalid mark")

invalid mark

## Loops

In [ ]:
#range
#loop ?


#For
    For with range
    For with Datastructure
    For else
    
#while
    While with condition
    while with True
    while with value
    while else
    
Break continue pass

In [ ]:
#loop

print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

In [2]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [7]:
#range:

print(set(range(100)))
print(list(range(50,100)))
print(list(range(0,1000,25)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 425, 450, 475, 500, 525, 550, 575, 600, 625, 650, 675, 700, 725, 750, 775, 800, 825, 850, 875, 900, 925, 950, 975]

In [8]:
#For with range

for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
#For with DS

Li = ["aaa", "bbb", "gggg", "hhhh"]

for i in Li:
    print(i)

aaa
bbb
gggg
hhhh

In [10]:
Li = ("aaa", "bbb", "gggg", "hhhh")

for i in Li:
    print(i)

aaa
bbb
gggg
hhhh

In [11]:
Li = {"xxx","aaa", "bbb", "gggg", "hhhh"}

for i in Li:
    print(i)

xxx
bbb
aaa
hhhh
gggg

In [13]:
Li = {1:"xxx",2:"aaa", 3:"bbb", 4:"gggg", 50:"hhhh"}

for i in Li:
    print(i)

1
2
3
4
50

In [14]:
for i in Li.keys():
    print(i)

1
2
3
4
50

In [15]:
for i in Li.values():
    print(i)

xxx
aaa
bbb
gggg
hhhh

In [16]:
for i in Li.items():
    print(i)

(1, 'xxx')
(2, 'aaa')
(3, 'bbb')
(4, 'gggg')
(50, 'hhhh')

In [19]:
Li = ["aaa", "bbb", "gggg", ["hhhh",4,5,6]]

for i in Li[2]:
    print(i)

g
g
g
g

In [20]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [21]:
#while loop with condition

a = 10

while a < 20:
    print(a)
    a = a + 1

10
11
12
13
14
15
16
17
18
19

In [22]:
#while with True

a = True
le = 0

while a:
    print("a python")
    le = le + 1
    if le == 10:
        a = False

a python
a python
a python
a python
a python
a python
a python
a python
a python
a python

In [24]:
a = 10


while a:
    print("hello")
    break

hello

In [26]:
print(a)
print(bool(a))

10
True

In [27]:
#break continue pass


for i in range(2,25):
    print(i)
    if i % 15 == 0 or i %18 == 0:
        print("condition satisfied")
        break
print("main program")

2
3
4
5
6
7
8
9
10
11
12
13
14
15
condition satisfied
main program

In [29]:
for i in range(2,25):
    if i % 15 == 0 or i %18 == 0:
        print("condition satisfied")
        continue
    print(i)
print("main program")

2
3
4
5
6
7
8
9
10
11
12
13
14
condition satisfied
16
17
condition satisfied
19
20
21
22
23
24
main program

In [30]:
for i in range(2,25):
    if i % 15 == 0 or i %18 == 0:
        print("condition satisfied")
        pass
    print(i)
print("main program")

2
3
4
5
6
7
8
9
10
11
12
13
14
condition satisfied
15
16
17
condition satisfied
18
19
20
21
22
23
24
main program

In [31]:
if 10 == 10:
    pass

In [33]:
for i in range(2,25):
    if i % 15 == 0 or i %18 == 0:
        print("condition satisfied")
        continue
    print(i)
else:
    print("Else condition in for")
print("main program")

2
3
4
5
6
7
8
9
10
11
12
13
14
condition satisfied
16
17
condition satisfied
19
20
21
22
23
24
Else condition in for
main program

In [32]:
for i in range(2,25):
    if i % 15 == 0 or i %18 == 0:
        print("condition satisfied")
        break
    print(i)
else:
    print("Else condition in for")
print("main program")

2
3
4
5
6
7
8
9
10
11
12
13
14
condition satisfied
main program

In [ ]:
break else ===> if else